<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Deployment Realestate</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css">
</head>

    <body style="background: #000;">
        <div class="login">
            <h1>House Prices Prediction</h1>

            <!-- Main Input For Receiving Query to our ML -->
            <form action="{{ url_for('predict')}}"method="post">
                <input type="number" name="area" placeholder="Area" required="required" />
                <input type="number" name="rooms" placeholder="Number of rooms" required="required" />
                <br>
                <div class="localisation-form">
                    <label for="localisation">District</label>
                    <select name=cities method="GET" action="/">
                        {% for city in cities %}
                        <option value= "{{city}}" SELECTED>{{city}}</option>"
                        {% endfor %}
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block btn-large">Predict Price</button>
            </form>

            <br>
            <br>
            {{ prediction_text }}
            <br>
            <br>

        </div>

    </body>
</html>